<!DOCTYPE html>
<html>
<head>
    <title>Admin Add User</title>
</head>
<body>
    <h1>Add New User</h1>
    <a href="{{url_for('admin_dashboard')}}"> Go back to Dashboard </a><br>
    <form method="post">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username }}
        {{ form.email.label }} {{ form.email }}
        {{ form.password.label }} {{ form.password }}
        {{ form.role.label }} {{ form.role }}
        <input type="submit" value="Add User">
    </form>
</body>
</html>
