<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1><center>Login Page</center></h1>
    <a href="{{ url_for('home') }}">Go back to the homepage</a><br>

    <form method="POST" action="{{ url_for('login') }}">
        {{ form.csrf_token }}
        <div>
            {{ form.email.label }} {{ form.email() }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password() }}
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form> 
</body>
</html>
